.home {

  .content-container{
    width: 90%;
    margin: 0% auto;
    padding: 0% 0% 0% 0%;

    .content-section {
      margin: 0 0 30px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media@mobile{
        .flex(flex,column,center,center);
        #one{order: 1};
        #two{order: 2};
        #three{order:4};
        #four{order:3};

      }

      .welcome {
        padding: 0;
        margin: 0 0 5% 0;
        border-bottom: 2px dashed @navigation-border;

        img{
          padding: 0%;
          margin: 0%;
        }
      }
      
      .text-content {
        width: 48%;
        padding-right: 1%;

        @media@mobile{
          width: 98%;
          margin: auto;
          padding: 4% auto;
        }

      }
  
      .img-content {
        width: 48%;
        padding-left: 1%;

        @media@mobile{
          width: 98%;
          margin: 4% auto;
        }
  
        img {
          border-radius: 10px;
        }
      }
    }
  
    .inverse-content {
      padding-bottom: 30px;
      border-bottom: 2px dashed @navigation-border;
  
      .text-content {
        padding-left: 0%;
        padding-right: 0;
      }
  
      .img-content {
        padding-right: 0%;
        padding-left: 0;
      }
    }
  
    .content-destination {
      width: 75%;
      margin: 0 auto 30px;

      @media@mobile{
        width: 100%;
      }
  
      img {
        border-radius: 10px;
      }
    }
  
    .content-pick {
      padding-top: 30px;
      border-top: 2px dashed @navigation-border;
      display: flex;
      justify-content: space-between;

      @media@mobile{
        .flex(flex,column,center,center)
      }
  
      .destination {
        width: 30%;
        margin-bottom: 30px;

        @media@mobile{
          width:80%;
        }
  
        .btn();
      }
    }

  }
  
}// home